.coordonnes {
	border: 1px solid black;
	width: 500px;
	height: 420px;
	margin-right: 2%;
	margin-top:90px;
	position: fixed;
	right:10px;
	box-shadow: 1px 1px 10px;
	text-align: left;
}

p.text {
	margin-left: 40px;
}

.ico_coord {
	height: 18px;
	width: 18px;
}